{{ partial "header.html" . }}

	<!-- SLIDER -->
	<section id="home">
		<div id="home-carousel" class="carousel slide" data-ride="carousel" data-interval="10000" data-pause="false">
			<ol class="carousel-indicators">
				{{range $index, $element := .Params.slider}}
				<li data-target="#home-carousel" data-slide-to="{{$index}}" {{if (eq $index 0)}}class="active"{{end}}></li>
				{{end}}
		  </ol>
			<div class="carousel-inner">
				{{range $index, $element := .Params.slider}}
				<div class="item {{if (eq $index 0)}}active{{end}}" style="background-image: url({{$element.imageurl}})">
					<div class="carousel-caption container">
						<div class="row">
              {{if ne $element.legendbottom ""}}
							<div style="background-color: rgba(0,0,0,0.4)" class="col-sm-8">
								<p style="font-weight: 500;">{{$element.legendbottom | markdownify}}</p>
							</div>
              {{end}}
						</div>
					</div>
				</div>
				{{end}}
			</div>
		</div> <!--/#home-carousel-->
    </section>
	<!-- /SLIDER -->

	<!-- PORTFOLIO -->
	<section id="portfolio">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Galleries</h1>
					</div>
				</div>
				<div class="portfolio-wrapper" >
					<div class="portfolio-items">
					{{range .Params.galleries}}
					<div class="col-xs-6 col-sm-4 portfolio-content">
						<a href="galleries/{{.page}}"><img style="width: 350px;" class="img-responsive" src="{{.imageurl}}" alt=""></a>
						<div class="portfolio-item-name text-center">
							<h5>{{.caption}}</h5>
						</div>
					</div>
					{{end}}
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- /PORTFOLIO -->

	<!-- CONTACT -->
	<section id="contact">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<div class="section-title">
						<h1>Contact</h1>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="text-left">
						<p><i class="fa fa-map-marker"></i> <a href="{{.Params.contact.locationlink}}">{{.Params.contact.location}}</a></p>
						<p><i class="fa fa-envelope-o"></i> <a href="mailto:{{.Params.contact.email}}">{{.Params.contact.email}}</a></p>
						<p><i class="fa fa-globe"></i> <a href="{{.Params.contact.web}}">{{.Params.contact.web}}</a></p>
            			<p><i class="fa fa-camera"></i> <a href="{{.Params.contact.photoblog}}">{{.Params.contact.photoblog}}</a></p>
						<!-- <p><i class="fa fa-plus"></i> <a id="register-link" href="#">Join my mailing list</a></p> -->
					</div>
				</div>
				<div class="col-sm-6">
					<div class="text-left">
						{{.Params.contact.description | markdownify}}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="spacer text-center">
					{{range .Params.sociallinks}}
					<a href="{{.sitelink}}" title="{{.sitename}}"><img class="social" src="{{.icon}}" /></a>
					{{end}}
				</div>
			</div>

		</div>
	</section>
	<!-- /CONTACT -->

	<!-- SUBSCRIBE FORM -->
	{{ partial "subscribe.html" . }}
	<!-- /SUBSCRIBE FORM -->

{{ partial "footer.html" . }}
