{{ partial "header.html" . }}

<!-- PAGE HEADER -->
<section id="page-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>Blog{{if .Data.Term}}<small> - Tag: {{.Data.Term}}{{end}}</small></h1>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /PAGE HEADER -->

<!-- BLOG -->
<section id="blog">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        {{range .Data.Pages}}
        <div class="single-blog">
          <article>
            {{if .Params.summaryimage}}
            <div class="post-thumb"><img class="img-responsive" src="images/{{.Params.summaryimage}}" alt=""></div>
            {{end}}
            <h4 class="post-title"><a href="">{{.Title}}</a></h4>
            <div class="post-meta text-uppercase">
              <span>{{.PublishDate.Format "January 2, 2006"}}</span>
              <span>Tags: </span>
                {{range $name := .Params.tags}}
                <span><a href="/tags/{{lower $name}}">{{$name}}</a></span>
                {{end}}
            </div>
            <div class="post-article">
                {{.Summary}}
            </div>
            <a href="{{.RelPermalink}}" class="btn btn-readmore">Read More</a>
          </article>
        </div>
        <hr>
        {{end}}

        <ul class="pagination">
          <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
          <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <div class="sidebar-widget">
          <h4 class="sidebar-title">Tags</h4>
          <div class="tagcloud">
            {{ range $name, $taxonomy := .Site.Taxonomies.tags }}
              <a href="/tags/{{lower $name}}">{{$name}}</a>
            {{end}}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /BLOG -->

{{ partial "footer.html" . }}
