{{ partial "header.html" . }}

<section id="calendar">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h1>Calendar</h1>
        </div>
      </div>
    </div>
    <div class="row row-filled text-center">
      <div class="col-sm-12" style="font-size: 120%; color: black;">
        <b>{{.Params.calendaryear}} Teaching Schedule</b>
      </div>
    </div>

    {{range .Params.teachingschedule}}

    <div class="row small-spacer">
      <div class=col-sm-1></div>
      <div class="col-sm-10 calendar-entry">
        <div class="col-sm-3">
          {{.date}}
        </div>
        <div class="col-sm-3">
          <a href="/classes/#{{.classnamekey}}">{{.classname}}</a>
        </div>
        <div class="col-sm-4">
          {{.classdetails | markdownify}}Contact: <a href="{{.classcontactlink}}">{{.classcontactname}}</a>
        </div>
      </div>
    </div>

    {{end}}

    <div class="row row-filled text-center spacer">
      <div class="col-sm-12" style="font-size: 120%; color: black;">
        <b>{{.Params.calendaryear}} Exhibits</b>
      </div>
    </div>

    {{range .Params.exhibits}}
    <div class="row small-spacer">
      <div class=col-sm-1></div>
      <div class="col-sm-10 calendar-entry text-center">
        <a href="{{.exhibitlink}}">{{.exhibitname}}</a><br>
        {{.exhibitinfo | markdownify}}
      </div>
    </div>
    {{end}}
  </div>
</section>

{{ partial "footer.html" . }}
