/*
	Author: ShapedTheme
	Template: Cluster
	Version: 1.0
	URL: http://shapedtheme.com
*/


/* TABLE OF CONTENTS

	1. Import section
	2. Basic styles
	3. BUTTONS
	4. HEADER
	5. SLIDER
	6. SERVICES
	7. OUR WORKS
	8. PRICING
	9. ABOUT US
	10. OUR TEAM
	11. TESTIMONIAL
	12. FUN FACTS
	13. CONTACT
	14. BLOG
	15. FOOTER
	16. SCROLL TO TOP

*/

/* 1. IMPORT SECTION */

	@import url("https://fonts.googleapis.com/css?family=Raleway:200,300,600,700&subset=latin,latin-ext");
	@import url('https://fonts.googleapis.com/css?family=Syncopate:400,700');

/* 2. BASIC STYLES */

	html, body {
		height: 100%;
	}

	body {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
		font-size: 14px;
		/*font-weight: 200; */
		line-height: 1.7857;
		letter-spacing: 0.075em;
		color: #333333;
		background-color: #fff;
	}

	a {
		color: #000;
		font-weight: 600;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	a:hover {
		color: #000;
		text-decoration: underline;
	}

	a, a:active, a:focus, button:focus {
		outline: 0;
		border: 0;
		text-decoration: none;
	}

	#st-preloader {
		background: #FFF;
		bottom: 0;
		left: 0;
		position: fixed;
		right: 0;
		top: 0;
		z-index: 9999;
	}

	p {
		line-height: 1.5;
	}

	h1, h2, h3, h4, h5, h6{
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}

	input, textarea{
		outline: none;
	}

	label{
		font-weight: 300;
	}

	#pre-status,
	.preload-placeholder {
		background-image: url(../images/preloader.gif);
		background-position: center;
		background-repeat: no-repeat;
		height: 40px;
		left: 50%;
		margin: -20px 0 0 -20px;
		position: absolute;
		top: 50%;
		width: 40px;
	}

	.preload-placeholder {
		background: none;
		left: 0;
		margin: 0;
		text-align: center;
		top: 65%;
	}

	.st-border{
		width: 34px;
		height: 1px;
		display: block;
		background-color: #000;
	}

	.overlay{
		background-color: #000;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0.8;
	}

	.spacer {
	    margin-top: 40px;
	}

	.small-spacer {
	  margin-top: 20px;
	}
	.section-title {
		margin-bottom: 50px;
	}

	.row-filled {
	  /* background-color: #ebe5dc; */
	  padding: 10px;
	  border: 1px solid #DDD;
	}

	/* Styling for thumbnails */

	.thumbnail {
	    border: 0 none;
	    box-shadow: none;
	    white-space: nowrap;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    margin: 0;
	}

	.thumbnail > a > img {
	    width: 100%;
	    /* height: 100%; */
	}

	.thumbnail > a >img:hover {
	  opacity: .9;
	}

	.thumbnail *:focus {
	  outline: none;
	}

	/* For masonry */

	.grid {
	  margin: 0 auto;
	}

	.grid-sizer,
	.grid-item {
	  width: 320px;
	}

	.panel {
	  border-radius: 0;
	}

	.panel-body img {
	    display : block;
	    margin : auto;
	    max-width: 100%;
	}

	/* For magnific zoom popups */

	/************** Changes for zoom image ***************/
	/* To remove image frame */
	div.mfp-figure::after {
	  background: none;
	  box-shadow: none;
	}

	/* Container of the zoomed image */
	.mfp-figure {
	  width: 90%;
	  /* height: 90%; */
	  margin: auto;
	}

	/* Counter black over white background */
	.mfp-counter {
	  color: black;
	}

	/* To change the zoom screen from black to white */
	.mfp-bg {
	  /* background: #EEEEEE;  off white */
	  background: white;
	}

	.mfp-title {
	  color: black;  /* to show caption over white background */
	  margin-bottom: 30px;
	}

	.mfp-close {
	  color: gray;
	}
	/************** End of changes for zoom image ***************/


	/* for the zoom function */
	.mfp-with-zoom .mfp-container,
	.mfp-with-zoom.mfp-bg {
		opacity: 0;
		-webkit-backface-visibility: hidden;
		-webkit-transition: all 0.3s ease-out;
		-moz-transition: all 0.3s ease-out;
		-o-transition: all 0.3s ease-out;
		transition: all 0.3s ease-out;
	}

	.mfp-with-zoom.mfp-ready .mfp-container {
			opacity: 1;
	}
	.mfp-with-zoom.mfp-ready.mfp-bg {
			/* opacity: 0.8; */
	    opacity: 1; /* To completely cover the background gallery */
	}

	.mfp-with-zoom.mfp-removing .mfp-container,
	.mfp-with-zoom.mfp-removing.mfp-bg {
		opacity: 0;
	}

	/* Added to deal with white background */
	.mfp-title {
	  text-align: center;
	}
/* CUSTOMIZE BOOTSTRAP BREAKPOINT FOR MENU AND LOGO CONTAINER */

@media (max-width: 767px) {
  .logo-container {
    padding-left: 15px;
  }
}

@media (max-width: 990px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }

    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }

    .collapse.in{
        display:block !important;
    }
}


/* 3. BUTTONS */

	.btn-send {
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 8px 14px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-send:hover {
		background-color: #000;
		color: #fff;
	}

	.btn-readmore {
		background-color: #383838;
		border-radius: 0;
		border: 0;
		color: #fff;
		padding: 10px 20px;
		margin-top: 20px;
		text-transform: uppercase;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}

	.btn-readmore:hover {
		background-color: #000;
		color: #fff;
	}

	.social {
		width: 50px;
		height: 50px;
	  padding: 5px;
	  /* border-radius: 25px; */
	}


/* 4. HEADER */

	.navbar-default .navbar-nav>li>a {
		color: #000;
	}

	.navbar-default .navbar-nav>li>a:hover,
	.navbar-default .navbar-nav>li>a:focus {
		color: #999;
	}

	.navbar-default .navbar-toggle {
		border-style: none;
	}

	#header{}

	#header .navbar {
		min-height: 80px;
		margin-bottom: 0;
		border-radius: 0;
	}

	.st-navbar{
		background-color: #fff;
		border-bottom: 1px solid #f0f0f0;
	}

	.st-navbar ul {
		margin-top: 15px;
	}

	.st-navbar ul li a {
		text-transform: uppercase;
		font-weight: 800;
		padding: 0;
		margin: 14px;
		margin-left: 10px;
		margin-right: 10px;
	}

	.st-navbar ul li a:hover,
	.st-navbar ul li a:focus {
		background-color: transparent;
		color: #777;
	}

	.st-navbar .navbar-header {
		margin-top: 25px;
	}

	.st-navbar .navbar-toggle .icon-bar {
		background-color: #000;
	}

	.st-navbar .navbar-toggle {
		margin-top: 7px;
		margin-right: 25px;
		padding: 0;
		border-radius: 0;
	}



/* 5. SLIDER */

	#home{
		margin-top: 80px;
	}

	#home-carousel  .item {
		background-position: center top;
		background-repeat: no-repeat;
		background-size:cover;
		width:100%;
		height: 500px;
	}

	#home-carousel .item:before {
		/* background-color: #000; */
		content: "";
		height: 100%;
		top: 0;
		left: 0;
		/* opacity: 0.5; */
		position: absolute;
		width: 100%;
	}

	.carousel-caption {
		left: 15px;
		right: 15px;
		top: 65%;
		font-size: 20px;
		text-align: left;
		color: #fff;
		text-shadow: none;
		margin-top: -100px;
	}

	.carousel-caption h1 {
		font-size:46px;
		margin-bottom:0;
		letter-spacing:2px;
		font-weight:300;
	}

	.carousel-caption h2 {
		font-size:50px;
		font-weight:500;
		margin-top:0px;
		text-transform: lowercase;
		letter-spacing:2px;
		margin-bottom:20px;
	}

	.home-carousel-left,
	.home-carousel-right {
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.home-carousel-left {
		left:-32px;
	}

	.home-carousel-right {
		right:-32px;
	}

.carousel-indicators {
  position: absolute;
  bottom: 5px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
	margin-bottom: 5px;
}

.carousel-indicators li {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 4px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 16px;
}

.carousel-indicators .active {
  width: 16px;
  height: 16px;
  margin: 4px;
  background-color: #fff;
}

	#home-carousel:hover .home-carousel-left {
		left:0;
	}

	#home-carousel:hover .home-carousel-right {
		right:0;
	}
	/* Carousel animation */

	#home-carousel .item h1,
	#home-carousel .item h2,
	#home-carousel .item p {
		opacity:0;
		-moz-transform: scale(0.5);
		-webkit-transform: scale(0.5);
		-o-transform: scale(0.5);
		-ms-transform: scale(0.5);
		transform: scale(0.5);
	}

	#home-carousel .item h1 {
		-webkit-transition: all 0.5s ease-in-out 0.15s;
		-moz-transition: all 0.5s ease-in-out 0.15s;
		-ms-transition: all 0.5s ease-in-out 0.15s;
		-o-transition: all 0.5s ease-in-out 0.15s;
		transition: all 0.5s ease-in-out 0.15s;
	}

	#home-carousel .item.active h1,
	#home-carousel .item.active h2,
	#home-carousel .item.active p {
		opacity:1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	#home-carousel .item h2 {
		-webkit-transition: all 0.5s ease-in-out 0.30s;
		-moz-transition: all 0.5s ease-in-out 0.30s;
		-ms-transition: all 0.5s ease-in-out 0.30s;
		-o-transition: all 0.5s ease-in-out 0.30s;
		transition: all 0.5s ease-in-out 0.30s;
	}

	#home-carousel .item p {
		-webkit-transition: all 0.5s ease-in-out 0.45s;
		-moz-transition: all 0.5s ease-in-out 0.45s;
		-ms-transition: all 0.5s ease-in-out 0.45s;
		-o-transition: all 0.5s ease-in-out 0.45s;
		transition: all 0.5s ease-in-out 0.45s;
	}


/* 7. PORTFOLIO */

	#portfolio{
		padding-top: 50px;
		padding-bottom: 50px;
	}

	.portfolio-content {
		position: relative;
		margin-bottom: 10px;
		padding-left: 5px;
		padding-right: 5px;
	}

	.portfolio-content > a >img:hover {
	  opacity: .9;
	}

	.portfolio-item-name {
		position: absolute;
		background: rgba(255, 255, 255, 0.6);
		width: 100%;
		bottom: 0px;
		left: 0px;
	}


	.portfolio-wrapper .portfolio-content:hover .portfolio-overlay {
		opacity: 1;
		-moz-transform: scale(1);
		-webkit-transform: scale(1);
		-o-transform: scale(1);
		-ms-transform: scale(1);
		transform: scale(1);
	}

	.portfolio-wrapper .portfolio-overlay a {
		color: #fff;
		font-size: 35px;
	}
	.portfolio-wrapper .portfolio-overlay a:hover {
		color: #fff;
	}

	#hm-gallery > .row > .thumbnail {
	  border: 10;
	  border-color: black;
	}

	#hm-gallery > .row > .thumbnail > a > img {
	  width: 100%;
	  /* height: 100%; */
	}

	.popover {
		font-family: "Raleway", Helvetica, Arial, sans-serif;
	  border-radius: 0px;
	  text-align: center;
	}

	.hm-price-button {
	  color: gray;
	}

	/******* Styling of gallery pop up ********/
	.mfp-arrow {
	  position: absolute;
	  opacity: 0.65;
	  filter: alpha(opacity=65);
	  margin: 0;
	  top: 50%;
	  margin-top: -55px;
	  padding: 0;
	  width: 90px;
	  height: 110px;
	  -webkit-tap-highlight-color: transparent; }
	  .mfp-arrow:active {
	    margin-top: -54px; }
	  .mfp-arrow:hover,
	  .mfp-arrow:focus {
	    opacity: 0.2;
	    filter: alpha(opacity=100); }
	  .mfp-arrow:before,
	  .mfp-arrow:after,
	  .mfp-arrow .mfp-b,
	  .mfp-arrow .mfp-a {
	    content: '';
	    display: block;
	    width: 0;
	    height: 0;
	    position: absolute;
	    left: 0;
	    top: 0;
	    margin-top: 35px;
	    margin-left: 35px;
	    border: medium inset transparent; }
	  .mfp-arrow:after,
	  .mfp-arrow .mfp-a {
	    border-top-width: 13px;
	    border-bottom-width: 13px;
	    top: 8px; }
	  .mfp-arrow:before,
	  .mfp-arrow .mfp-b {
	    border-top-width: 21px;
	    border-bottom-width: 21px;
	    opacity: 0.7; }

	.mfp-arrow-left {
	  left: 0; }
	  .mfp-arrow-left:after,
	  .mfp-arrow-left .mfp-a {
	    border-right: 17px solid #666666;
	    margin-left: 31px; }
	  .mfp-arrow-left:before,
	  .mfp-arrow-left .mfp-b {
	    margin-left: 25px;
	    border-right: 27px solid #FFFFFF; }

	.mfp-arrow-right {
	  right: 0; }
	  .mfp-arrow-right:after,
	  .mfp-arrow-right .mfp-a {
	    border-left: 17px solid #666666;
	    margin-left: 39px; }
	  .mfp-arrow-right:before,
	  .mfp-arrow-right .mfp-b {
	    border-left: 27px solid #FFFFFF; }


/* 9. CONTACT */

	#contact {
		background-color: #f5f5f5;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	#contact h4 {
		margin-top: 0;
		margin-bottom: 30px;
	}

	#contact .btn-send {
		margin-top: 30px;
	}

	#contact-info {
    padding-left: 15%;
    padding-right: 15%;
	}

	.our-studio {
		padding-right: 0px;
	}

	.studio-carousel-left,
	.studio-carousel-right {
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.studio-carousel-left {
		left:-32px;
	}

	.studio-carousel-right {
		right:-32px;
	}

	#studio-carousel:hover .studio-carousel-left {
		left:0;
	}

	#studio-carousel:hover .studio-carousel-right {
		right:0;
	}

	#studio-carousel .item img{
		width: 100%;
	}

/* CLASSES */

#classes {
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* GALLERY */

#gallery {
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* CALENDAR */

#calendar {
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}

.calendar-entry {
  background-color: #f5f5f5; */
  padding: 10px;
  border: 1px solid #DDD;
}

/* ABOUT */

#about {
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* STUDIO */

#studio {
	margin-top: 80px;
	padding-top: 50px;
	padding-bottom: 50px;
}

/* 14. BLOG */

	#page-header {
		background-color: #f5f5f5;
		padding-top: 50px;
		padding-bottom: 0px;
		position: relative;
		margin-bottom: 50px;
		margin-top: 80px;
	}

	.single-blog {
		margin-top: 35px;
		margin-bottom: 35px;
	}

	.post-title {
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.post-meta {
		margin-bottom: 15px;
	}

	.post-meta span{
		margin-right: 6px;
		font-size: 12px;
		font-weight: 600;
		opacity: 0.6;
	}

	.post-meta span:hover {
		opacity: 1;
	}

	.post-carousel-left,
	.post-carousel-right {
		background-color: #f0f0f0;
		color:#000;
		font-size: 32px;
		height: 40px;
		line-height: 40px;
		margin-top: -20px;
		position: absolute;
		text-align: center;
		top: 50%;
		width: 32px;
		z-index: 999;
		-webkit-transition: 300ms;
		-moz-transition: 300ms;
		-o-transition: 300ms;
		-ms-transition: 300ms;
		transition: 300ms;
	}

	.post-carousel-left {
		left:-32px;
	}

	.post-carousel-right {
		right:-32px;
	}

	#post-carousel:hover .post-carousel-left {
		left:0;
	}

	#post-carousel:hover .post-carousel-right {
		right:0;
	}

	.post-link {
		background-color: #f5f5f5;
		text-align: center;
		padding: 40px 0;
		font-size: 16px;
		font-weight: 600;
	}

	.post-quote {
		background-color: #f5f5f5;
		padding: 30px;
		font-size: 16px;
		font-weight: 500;
		font-style: italic;
	}

	#blog .pagination{
		margin-bottom: 80px;
	}

	#blog .pagination li a{
		width: 35px;
		height: 35px;
		line-height: 31px;
		text-align: center;
		font-size: 16px;
		color: #a3a3a3;
		border: 1px solid #d1d1d1;
		padding: 0;
		margin-right: 5px;
		border-radius: 0;
	}

	#blog .pagination li.active a,
	#blog .pagination li a:hover{
		background-color: transparent;
		border-color: #000;
		color: #000;
	}

	.sidebar-widget{
		margin-top: 35px;
		margin-bottom: 50px;
	}

	.sidebar-widget .sidebar-title{
		margin-top: 0;
		margin-bottom: 20px;
	}

	.sidebar-widget ul{
		list-style: square;
		margin: 0;
		padding-left: 18px;
	}

	.sidebar-widget ul li{
		margin-bottom: 10px;
		font-weight: 500;
	}

	.blog-search{
		position: relative;
	}

	.blog-search input {
		border: 1px solid #d6d6d6;
		color: #8d8d8d;
		height: 44px;
		outline: medium none;
		padding: 0 50px 0 17px;
		width: 100%;
	}

	.blog-search span {
		color: #252525;
		font-size: 12px;
		position: absolute;
		right: 10px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
	}

	.blog-search .search-submit {
		background: none;
		border: none;
	}

	.blog-search:after {
		background-color: #d6d6d6;
		content: "";
		display: block;
		height: 27px;
		position: absolute;
		right: 40px;
		top: 50%;
		transform: translateY(-50%);
		-moz-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		width: 1px;
	}

	.sidebar-widget .tagcloud a{
		padding: 4px 10px;
		border: 1px solid #ccc;
		margin: 3px 1px;
		display: inline-block;
	}

	.sidebar-widget .tagcloud a:hover{
		border-color: #000;
		color: #000;
	}

	ul.content-flickr {
		margin: 0;
		overflow: hidden;
		padding: 0;
	}

	ul.content-flickr li {
		display: block;
		float: left;
		padding: 5px 10px 5px 0;
		width: 33.33%;
	}

	.content-flickr li a {
		display: block;
		position: relative;
		width: 100%;
	}

/* 15. FOOTER */

	#footer {
		background-color: #262626;
		padding-top: 40px;
		padding-bottom: 40px;
		color: rgba(255, 255, 255, 0.4);
	}

	#footer a{
		color: rgba(255, 255, 255, 0.4);
	}
	#footer a:hover {
		color: #fff;
	}

	.footer-social-icons {
		text-align: right;
	}

	.footer-social-icons a {
		margin: 0 5px;
		font-size: 16px;
	}

	.footer-social-icons span {
		margin-right: 10px;
	}


/* 16. SCROLL TO TOP */

	.scroll-up {
		position: fixed;
		display: none;
		z-index: 999;
		bottom: 1.8em;
		right: 1.8em;
	}

	.scroll-up ul {
		margin: 0;
		padding: 0;
	}

	.scroll-up li {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	.scroll-up a {
		background-color: #fff;
		display: block;
		width: 40px;
		height: 40px;
		text-align: center;
		color: #000;
		font-size: 20px;
		line-height: 38px;
		box-shadow: 0px 0px 6px #ccc;
	}

	.scroll-up a:hover,
	.scroll-up a:active {
		background-color: #f5f5f5;
		color: #000;
	}

	/* Subscribe dialog */
	/* For the modal */
	#join-dialog.modal.fade:not(.in).bottom .modal-dialog {
		-webkit-transform: translate3d(0, 100%, 0);
		transform: translate3d(0, 100%, 0);
	}

	#join-dialog .modal-content {
	  border-radius: 0;
	}

	#join-dialog .modal-dialog {
	  position:fixed;
	  left:20%;
	  right: 10%;
	  bottom:25%;
	}

	.btn {
	  border-radius: 0;
	}
