<section class="comments">
  <div class="row">
    <div class="col-md-12">
      <h5>Comments</h5>
      <div class="list-group">
        {{ $comments := readDir "data/comments" }}
        {{ $.Scratch.Add "hasComments" 0 }}
        {{ $entryId := .File.BaseFileName }}

        {{ range $comments }}
          {{ if eq .Name $entryId }}
            {{ $.Scratch.Add "hasComments" 1 }}
            {{range sort (index $.Site.Data.comments $entryId) "date" "desc"}}
              <div class="list-group-item comment">
                <div class="comment-header">
                  <p class="comment-info"><strong>{{ .name | plainify }}</strong> ({{ dateFormat "Jan 2, 2006" .date }})</p>
                </div>
                {{ .body | plainify | markdownify }}
              </div>
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if eq ($.Scratch.Get "hasComments") 0 }}
          <p>No comments yet.</p>
        {{ end }}
      </div>

      <h5>NEW COMMENTS ARE TEMPORARILY DISABLED</h5>

      <br>
    </div>
  </div>
</section>
