<section class="comments">
  <div class="row">
    <div class="col-md-12">
      <h5>Comments</h5>
      <div class="list-group">
        {{ $comments := readDir "data/comments" }}
        {{ $.Scratch.Add "hasComments" 0 }}
        {{ $entryId := .File.BaseFileName }}

        {{ range $comments }}
          {{ if eq .Name $entryId }}
            {{ $.Scratch.Add "hasComments" 1 }}
            {{range sort (index $.Site.Data.comments $entryId) "date" "desc"}}
              <div class="list-group-item comment">
                <div class="comment-header">
                  <p class="comment-info"><strong>{{ .name }}</strong> ({{ dateFormat "Jan 2, 2006 @ 3:06PM PST" .date }})</p>
                </div>
                {{ .body | markdownify }}
              </div>
            {{ end }}
          {{ end }}
        {{ end }}

        {{ if eq ($.Scratch.Get "hasComments") 0 }}
          <p>No comments yet.</p>
        {{ end }}
      </div>

      <h5>Leave a comment</h5>

      <div id="comment-form-container">
        <form id="post-comment">
          <div class="form-group">
            <input type="hidden" name="options[entryId]" value="{{ .File.BaseFileName }}">
            <input name="fields[name]" type="text" class="form-control" placeholder="Your name" required>
          </div>
          <div class="form-group">
            <textarea name="fields[body]" class="form-control" placeholder="Your comment" rows="10" required></textarea>
          </div>
          <input type="submit" href="" class="btn btn-default" value="POST"></input>
        </form>
      </div>
      <br>
    </div>
  </div>
</section>
